@import 
url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

main {
    padding: 32px;
    overflow-x: hidden;
}

nav {
    display: flex;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

a {
    text-decoration: none;
}


li {
    list-style-type: none;
}

img {
    width: 100%;
}


.purple {
    color: #6415ff;
}

/*

NAVIGATION

*/

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.nav__title {
    color: #243E63;
    font-size: 24px;
    font-weight: 900;
}

.nav__links {
    display: flex;
}

.nav__link {
    margin: 0 24px;
    padding-bottom: 4px;
    font-size: 16px;
    color: #243E63;
    font-weight: 600;
}

.nav__link:hover {
    border-bottom: 2px solid;
    color: #6415ff;

}

.nav__link--primary,
.nav__link--secondary {
    cursor: not-allowed;
}

.nav__link--secondary {
    margin-left: 48px;
}

.nav__link--primary {
    background-color: #6415ff;
    color: #fff;
    padding: 12px 32px;
    border-radius: 50px;
}

.nav__link--primary:hover {
    background-color: #38049e;
    text-decoration: none;
    color: #fff;
}

.section__title {
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

.section__subtitle {
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
}

.section__para {
    width: 100%;
    margin: 16px 0 40px 0;
    max-width: 576px;
    font-size: 16px;
    color: #7c8ba1;
    line-height: 30px;
}

/*

HEADER

*/

header {
    position: relative;
}

.header__container {
    margin-right: auto;
    margin-left: auto;
    padding: 96px 0;
    display: flex;
    position: relative;
    max-width: 1200px;
}

.header__row {
    display: flex;
    align-items: center;
    padding: 0 32px;
}

.header__description {
    min-width: 550px;
    width: 40%;
}

.header__title {
    font-size: 48px;
}

.header__para {
    margin: 32px 0;
    font-size: 20px;
    color: #243e63;
    line-height: 1.5;
}

.header__signup {
    max-width: 448px;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
}

.header__input {
    padding: 20px 0 20px 32px;
    border: 2px solid #e2e2e2;
    color: #243e63;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border-radius: 48px;
}

.header__btn {
    margin: 8px;
    padding: 16px 0;
    width: 160px;
    border: none;
    border-radius: 48px;
    background-color: #6415ff;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: not-allowed;
    position: absolute;
    right: 0;
    transition: all 300ms ;
}

.header__btn:hover {
    background-color: #38049e;
}

.header__customers--wrapper {
    margin: 80px 0 0;
    width: 100%;
    height: auto;
}

.header__customers--title {
    font-size: 12px;
    color: #a0aec0;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.header__customers--img {
    opacity: 0.5;
    margin-top: 16px;
    padding-right: 64px;
}

.header__img--wrapper {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 768px;
}

/*

FEATURES

*/

.features__container {
    position: relative;
    padding: 96px 0;
}

.features__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__title {
    display: flex;
    justify-content: center;
}

.features__para {
    text-align: center;
}

.features__service--wrapper {
    display: flex;
    flex-wrap: wrap;
}

.features__service {
    padding: 32px 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
}

.features__img--wrapper {
    border: 1px solid rgb(226, 232, 240);
    border-radius: 500px;
    border-width: 1px;
    padding: 20px;
    text-align: center;
}

.features__img {
    width: 24px;
    height: 24px;
}

.service__description {
    margin: 8px 0 0 16px;
}

.service__title {
    color: #243E63;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

.service__para {
    color: #7c8ba1;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
}

/*

QUALITY WORK

*/


.quality__container {
    padding: 96px 0;
}

.quality__row {
    display: flex;
}

.quality__description {
    width: 100vh;
    margin-right: 72px;
    display: flex;
    flex-direction: column;
}

.quality__left {
    text-align: left;
}

.button__quality {
    border: none;
    color: #fff;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 50px;
    font-weight: 700;
}

.button__quality:hover {
    background-color: #38049e;
    cursor: not-allowed;
}

.quality__img--wrapper {
    width: 100%;
    height: 100%;
    max-width: 640px;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 4px;
}

/*

STEPS

*/

.steps__container {
    padding: 96px 0;
}

.steps__img--wrapper {
    width: 100%;
    max-width: 640px;
    display: flex;
    align-items: center;
}

.steps__description {
    width: 50%;
    max-width: 576px;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.steps__list {
    display: flex;
    flex-direction: column;
}

.steps__list--description {
    margin-left: 24px;
}

.steps__list--item {
    margin-top: 32px;
    display: flex;
    align-items: flex-start;
}


.steps__list--number {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: #cbd5e0;
}

.steps__list--subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
}

.steps__list--para {
    font-size: 16px;
    color: #718096;
    line-height: 28px;
    margin-top: 12px;
    max-width: 320px;
}